---
---

@import "{{ site.theme }}";

header {
  background: #265073 !important;
}

#banner {
  background-color: #9AD0C2 !important;
  border-color: #2D9596 !important;
}

#banner .button {
  background: #2D9596 !important;
  border-color: #2D9596 !important;
}

ul {
  list-style-image: none !important;
}

body {
  margin : 2%;
}

